.loginForm {
    position: relative;
    width: 22.5rem;
    height: 27.5rem;
    border-radius: 1rem;
    background-color: $preto-900;
    @include box-shadow(0px, 3px, 14px, rgba(0, 0, 0, 0.36));
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;

    img {
        width: 9.9219rem;
        height: 4.5rem;
        margin: 2rem 0 0 0;
    }

    button {
        border: none;
        width: 18.75rem;
        height: 2.5rem;
        background: $cinza-200;
        border-radius: 0.25rem;
        color: $branco-000;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        position: absolute;
        bottom: 2rem;
        transition: ease-in-out 0.2s box-shadow;
        transition: ease-in-out 0.2s filter;

        &:hover{
            @include box-shadow(0px, 0px, 7px, rgba(255, 255, 255, 0.192));
        }

        &:active{
            filter: brightness(0.8);
        }
        
    }

    .loginInputField {
        padding: 0 0.5rem;
        width: 18.75rem;
        height: 2.5rem;
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom: 1px solid $cinza-200;
        color: $branco-000;
        font-size: 1rem;
        line-height: 1.25rem;
        font-style: normal;
        font-weight: normal;
        @include placeholeder-color($cinza-200);
        margin-top: 3.5rem;
        transition: ease-in-out 0.15s border;


        &:first-of-type {
            margin-top: 5rem;
        }

        &:focus{
            border-bottom: 1px solid $branco-000;
        }
    }

    .inputError {
        position: absolute;
        color: $error;
        width: 100%;
        text-align: left;
        padding: 0 2rem;
        
        &:first-of-type{
            top: 14.5rem
        }

        &:last-of-type{
            top: 20.5rem;
        }
    }

    @media (max-width: $max-sm) {
        max-width: 22.5rem;
        width: 100%;

    }

    @media (max-width: 25rem) {
        padding: 0 1.5rem;
        
        button{
            width: calc(100% - 3rem);
        }

        .loginInputField{
            width: 100%;
        }

        .inputError{
            padding: 0 1.5rem;
        }
    }

    @media (orientation: landscape) {
        // margin: 10rem 0;
    }
}
