#contac-page{
    height: calc(100vh - (4.5rem));
    background-color: $preto-600;


    .container{
        height: calc(100vh - (4.5rem));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}