//--------Colors---------
$preto-000: #000000;
$preto-200: #0A0A0A;
$preto-400: #0D0D0D;
$preto-600: #1B1B1B;
$preto-900: #222425;
//Brancos
$branco-000: #FFFFFF;
$branco-200: #F3F3F3;
$branco-400: #DEDEDE;
//cinzas
$cinza-000: #C4C4C4;
$cinza-200: #ABABAB;
//verdes
$verde-000: #61E0E1;
$verde-300: #56C7C7;
$verde-600: #45A1A1;
$verde-900: #2A6161;
//azuis
$azul-000: #5ECFF7;
$azul-300: #5AA0ED;
$azul-600: #4276AD;
$azul-900: #2A4B6E;